 body{
    margin: 0;
    display: flex;
    align-items:center;
    justify-content: center;
}
#input{
    font-size: 20px;
    height: 75px;
    width: 150px;
    background-color: wheat;
    margin: 50px;
}
#input-key{
    font-size: 20px;
    height: 75px;
    width: 150px;
    background-color: wheat;
    margin: 50px;
}
#output{
    font-size: 20px;
    height: 75px;
    width: 150px;
    background-color: wheat;
    margin: 50px;
}
.btn{
    border-style: none;
    height: 25px;
    width: 125px;
    color: white;
    background-color: #262626;;
    margin: 10px;
}